Procesos activos:
cantidad de procesos: {{ cant_procesos }}
{%for hilo in procesos_activos %}
    uid: {{ hilo.proceso_excel.uid }}
    Estado procesando: {{ hilo.proceso_excel.procesando }}
{% endfor %}{%if msg_error != None and msg_error != ""%}{%for msg in msg_error %}
    {{ msg }}{% endfor %}
{% endif %}