Board name: {{ obj_boards.name }}
board id: {{ obj_boards.id }}
{% for group in obj_boards.groups %}
  Group id: {{ group.id }}
  Title: {{ group.title }}
  {% for item in group.items %}
    Item id: {{ item.id }}
    Item name: {{ item.name }}
      {% for col in item.columns %}
      Column id: {{ col.id }}
      Column text: {{ col.text }}
      Column type: {{ col.type }}
      Column status: {{ col.status }}
      Column value: {{ col.value }}
      {% endfor %}
  {% endfor %}
{% endfor %}