{% if not error %}Se creó una nueva actualización (comentario) en la tarea o subtarea especificada en Monday.com: {{ update_id }}{% endif %}{% if error %}No se pudo crear la nueva actualización (comentario) en la tarea o subtarea especificada en Monday.com.{% endif %}