Estado del proceso : {{ proceso.uid }}
     message: {{ proceso.message }}
     error: {{proceso.error}}
     pos: {{proceso.pos}}
     board_id: {{proceso.board_id}}
     group_id: {{proceso.group_id}}
     item_id: {{proceso.item_id}}
     sub_board_id: {{proceso.sub_board_id}}
     id_column_fecha_inicio: {{proceso.id_column_fecha_inicio}}
     id_column_fecha_fin: {{proceso.id_column_fecha_fin}}
     sub_board_id_column_fecha_inicio: {{proceso.sub_board_id_column_fecha_inicio}}
     sub_board_id_column_fecha_fin: {{proceso.sub_board_id_column_fecha_fin}}
     local_filename: {{proceso.local_filename}}