{% if cant_groups > 0 %}
Cantidad total de grupos disponibles en el tablero: {{ cant_groups }}
{% for group in groups %}
  • {{ group.title }} (ID: {{ group.id }})
{% endfor %}
{% else %}
No se encontraron grupos para el tablero especificado.
{% endif %}