{% if not error %}
El documento fue creado exitosamenteeeeeeeeee!
Titulo: {{title}}
ID del documento: {{doc_id}}
URL: {{url_doc}}
{% endif %}
{% if error %}
No se pudo crear la nueva actualización (comentario) en la tarea o subtarea especificada en Monday.com.
{% endif %}