Item created successfully:
  - Board Id: {{ board_id }}
  - Item Name {{ item_name }}
  - Group Id: {{ group_id }}
  - Parent Item Id: {{ parent_item_id }}
  - Columns Values: {{ Columns_values }}



