Tarea creada exitosamente:
  - ID de la tarea: {{ item_id }}
  - Nombre de la tarea: {{ item_name }}  
  - Columnas de la tarea: {{ Columns_values }}
  - ID del tablero: {{ board_id }} 
  - ID del grupo: {{ group_id }} 
