{% if cant_users > 0 %}
Usuarios disponibles en Monday.com:
{% for usuario in users %}
   Id: {{ usuario.id }}
   Name: {{ usuario.name }}
   Email: {{ usuario.email }}
   Enabled: {{ usuario.enabled }}
   Teams: {{ usuario.teams }}
{% endfor %}
{% else %}
No se recuperaron usuarios en Monday.com
{% endif %}

